/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ELEMENTS */
body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  margin: 60px 0 100px 0;
  font-size: 20px;
}

button {
  background-color: #a3e5c4;
  border: 1px solid #f0f8ff;
  border-radius: 5px;
  color: #f0f8ff;
  font-size: 18px;
  padding: 8px;
  margin: 5px;
}

button:hover {
  text-decoration: underline;
}

input {
  font-family: 'Open Sans', sans-serif;
  height: 35px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  width: 107px;
  padding-left: 5px
}

/* NAVBAR */
.navbar {
  background-color: #a3e5c4;
  color: #f0f8ff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  justify-content: flex-start;
  padding-left: 10px;
  font-size: 22px;
  font-weight: bold;
}

.input-form {
  justify-content: flex-end;
  display: flex;
  align-items: baseline;
  padding-right: 10px;
}

.city-shown {
  font-size: 12px;
  margin-right: -10px;
  text-align: end;
}

/* ONE CITY */

.one-city-div {
  text-align: center;
  padding: 10px 25px;
}

.city-card {
  background-color: white;
  border: solid 1px #79807B;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  line-height: 1.3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.message {
  margin-top: 100px;
}

.city-name {
  font-size: 24px;
  font-weight: bold;
}

.remove-button{
  width: 30px;
  color: #79807B;
  background-color: transparent;
  border: none; 
  float:right;
  margin:5px 5px 0 0;
  position: absolute;
  top: 0;
  right: 0;
}

/* FOOTER */
.footer {
  background-color: #a3e5c4;
  color: #f0f8ff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.footer-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px
}

/* MEDIA QUERIES */

@media only screen and (min-width: 300px) {
  .one-city-div {
    padding: 10px 10px;
  }
}

@media only screen and (min-width: 400px) {
  .one-city-div {
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 500px) {
  .one-city-div {
    padding: 10px 50px;
  }
}

@media only screen and (min-width: 600px) {
  .one-city-div {
    padding: 10px 100px;
  }
}

@media only screen and (min-width: 700px) {
  .one-city-div {
    padding: 10px 150px;
  }
}

@media only screen and (min-width: 800px) {
  .one-city-div {
    padding: 10px 200px;
  }
}

@media only screen and (min-width: 900px) {
  .one-city-div {
    padding: 10px 250px;
  }
}

@media only screen and (min-width: 1000px) {
  .one-city-div {
    padding: 10px 300px;
  }
}

@media only screen and (min-width: 1100px) {
  .one-city-div {
    padding: 10px 310px;
  }
}



